{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<form method="post" class="h-[80vh]">
		<div class="flex items-center space-x-4 p-4 justify-between">
			<a href="/liste/course" class="flex items-center space-x-4 p-4">
				<img class="w-20 h-20" src="{{ asset('/images/logo.png') }}" alt="logo"/>
				<div>
					<span class="text-black text-4xl font-light">Smart</span>
					<span class="text-black text-4xl font-medium">Cart</span>
				</div>
			</a>
            <a href="/">
			<img class="w-16 h-16" src="{{ asset('/images/utilisateur.png') }}" alt="logo"/>
            </a>
		</div>

		<div class="flex flex-col w-full items-center justify-center px-36 h-full">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3 bg-blue-200 text-white font-semibold p-3 flex justify-center items-center gap-3 rounded-xl">
					Tu es connecté en tant que
					{{ app.user.userIdentifier }}.
					<a href="{{ path('app_logout') }}" class="text-red-400">Se déconnecter</a>
				</div>
			{% endif %}
			<p class="text-black font-bold text-4xl mb-8">Connexion</p>
			<div class="w-full flex flex-col gap-6 text-2xl">
				<div class="w-full">
					<label for="inputPseudo">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="w-full rounded  border border-gray-200 px-4 py-2 focus:outline-none" autocomplete="username" required autofocus>
				</div>
				<div class="w-full">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="w-full rounded  border border-gray-200 px-4 py-2 focus:outline-none" autocomplete="current-password" required>
				</div>
				<div class="mb-3 text-lg">
					<label>
						<input type="checkbox" name="_remember_me">
						Rester connecté ?
					</label>
				</div>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


			<div class="flex w-full items-center gap-3 justify-end">
				<button class="rounded bg-[#8FB9EB] text-2xl text-white font-bold px-6 py-2 hover:opacity-70 duration-300" type="submit">
					Connexion
				</button>
				<a class="underline text-2xl" href="{{ path('app_register')}}">S'inscrire<a/>
				</div>
			</div>


		</form>
	{% endblock %}
