{% extends 'base.html.twig' %}

{% block title %}Type d'articles
{% endblock %}

{% block body %}
	{% if app.user.userIdentifier == "Minh" %}
		<div class="border  p-4 rounded-xl absolute top-6 left-1/2 transform -translate-x-1/2">
			<p class="font-bold mb-3 text-center">Dashboard de
				{{app.user.userIdentifier}}
			</p>
			<div class="flex space-x-4">
				<a href="/admin/article/" class="rounded-xl border border-[#8FB9EB] text-[#8FB9EB] font-bold px-3 py-2 hover:opacity-70 duration-300">
					Modifier les articles
				</a>
				<a href="/admin/type/article/" class="rounded-xl border border-[#8FB9EB] text-[#8FB9EB] font-bold px-3 py-2 hover:opacity-70 duration-300">
					Modifier les types
				</a>
			</div>
		</div>
	{% endif %}
	<div class="h-full">

		<div class="flex items-center space-x-4 p-4 justify-between">
			<a href="/liste/course" class="flex items-center space-x-4 p-4">
				<img class="w-20 h-20" src="{{ asset('/images/logo.png') }}" alt="logo"/>
				<div>
					<span class="text-black text-4xl font-light">Smart</span>
					<span class="text-black text-4xl font-medium">Cart</span>
				</div>
			</a>

			<a href="/">
				<img class="w-16 h-16" src="{{ asset('/images/utilisateur.png') }}" alt="logo"/>
			</a>
		</div>
		<div class="flex flex-col w-full items-center justify-center px-36 h-full">

			<p class="text-black font-bold text-4xl mb-8">Type d'articles</p>

			<table class="table-auto w-4/5 mx-auto mt-8 border-separate border-spacing-y-2">
				<thead>
					<tr>
						<th class="text-left p-6">Nom du type</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for type_article in type_articles %}
						<tr class="text-lg duration-200 bg-stone-100 rounded-md ring-1 ring-slate-200 shadow-md">
							<td class="p-6">{{ type_article.NomType }}</td>
							<td class="w-16">
								<a class="flex items-center border-2 bg-[#8FB9EB] rounded-full px-3 py-3 mr-3 shadow hover:scale-110 duration-300" href="{{ path('app_type_article_edit', {'id': type_article.id}) }}"><img src="{{ asset('images/editer.png') }}" alt="Edit" class="w-6 h-6"></a>
							</td>
							<td class="w-6">
								<form class="" method="post" action="{{ path('app_type_article_delete', {'id': type_article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type ?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_article.id) }}">
									<button onclick="event.stopPropagation();" class="btn h-full w-12 mr-4"><img src="{{ asset('images/red_bin.png') }}" alt="Delete" class="w-full h-auto mx-auto hover:scale-125 duration-300"></button>
								</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4" class="text-center text-red-600 py-6">Aucun type enregistré</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="rounded-xl border border-[#8FB9EB] mt-8 text-[#8FB9EB] font-bold px-3 py-2 hover:opacity-70 duration-300" href="{{ path('app_type_article_new') }}">Ajouter un type</a>
		</div>
	</div>
{% endblock %}
