{% extends 'base.html.twig' %}

{% block title %}Créer un article
{% endblock %}

{% block body %}
	<div class="h-[80vh]">

		<div class="flex items-center space-x-4 p-4 justify-between">
			<a href="/liste/course" class="flex items-center space-x-4 p-4">
				<img class="w-20 h-20" src="{{ asset('/images/logo.png') }}" alt="logo"/>
				<div>
					<span class="text-black text-4xl font-light">Smart</span>
					<span class="text-black text-4xl font-medium">Cart</span>
				</div>
			</a>
            <a href="/">
			<img class="w-16 h-16" src="{{ asset('/images/utilisateur.png') }}" alt="logo"/>
            </a>
		</div>
		<div class="flex flex-col w-full items-center justify-center px-36 h-full">

			<p class="text-black font-bold text-4xl mb-8">Créer un article</p>

			{{ include('article/_form.html.twig') }}
			<div>
				<a class="rounded-xl border border-[#8FB9EB] mt-8 text-[#8FB9EB] font-bold px-3 py-2 hover:opacity-70 duration-300" href="{{ path('app_article_index') }}">Retour à la liste</a>

				<a class="rounded-xl border border-[#8FB9EB] mt-8 text-[#8FB9EB] font-bold px-3 py-2 hover:opacity-70 duration-300" href="{{ path('app_type_article_new') }}">Créer un nouveau type d'article</a>
			</div>
		</div>
	</div>

{% endblock %}
